.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url('https://images.pexels.com/photos/59782/pexels-photo-59782.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb');
  min-height: 75%;
}
